my_submission.csv

# Compiled class file
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.ear

# Eclipse
.settings/
bin/
*.launch
*.project
*.classpath

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
